/* --------------------------- *\
			VARIABLES
\* --------------------------- */

:root {
    /* Colores */
	--color-menu: #171929;
	--color-black: #000000;
	--color-gray: #848484;
	--color-lightgray: #f9f9f9;
	--color-white: #ffffff;
    /* Espaciado */
	--espaciado-muy-leve: calc(var(--espaciado-normal)/4);
	--espaciado-leve: calc(var(--espaciado-normal)/2);
	--espaciado-normal: 1.25rem;
	--espaciado-alto: calc(var(--espaciado-normal)*1.5);
	--espaciado-muy-alto: calc(var(--espaciado-normal)*2);
}

/* --------------------------- *\
			GENERALES
\* --------------------------- */

html {
    font-family: system-ui, sans-serif;
}

body {
    display: grid;
    grid-template: 80px 1fr auto / 350px 1fr;
    grid-template-areas: "menu header" "menu peliculas" "menu busqueda";
}

/* --------------------------- *\
		    HEADER
\* --------------------------- */

#header {
    padding: 0 var(--espaciado-leve);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

    #header input {
        height: 40px;
        width: 280px;
        font-weight: 350;
        padding: 0 var(--espaciado-leve);
        background-color: var(--color-lightgray);
        box-shadow: 0px 0px 10px 0px var(--color-lightgray);
        
        border: none;
        border-radius: var(--espaciado-leve);
    }
    
    #header img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-right: var(--espaciado-leve);
        object-fit: cover;
        vertical-align: middle;
    }

/* --------------------------- *\
		SECCION DE MENU
\* --------------------------- */

#seccion-menu {
    grid-area: menu;

    height: 100vh;
    padding: var(--espaciado-normal);
    box-sizing: border-box;

    color: white;
    background-color: var(--color-menu);

    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-row-gap: var(--espaciado-normal);
}

    .menu-imagen-titulo {
        width: 95%;
        padding: var(--espaciado-normal) 0;
        box-sizing: border-box;
        
        justify-self: center;
        align-self: center;
    }

    .menu-navbar {
        display: grid;
        grid-template-rows: min-content;
        overflow: auto;
    }

        .navbar-titulo {
            margin-top: 0;
            margin-bottom: var(--espaciado-leve);
            font-size: 1.6em;
            font-weight: 600;
        }

        .navbar-lista {
            padding: 0;
            margin: 0;
            overflow: auto;
        }
        .navbar-lista.peliculas-recientes {
            list-style-position: inside;
        }
        .navbar-lista.amigos {
            list-style: none;
        }

            .navbar-lista li {
                margin: var(--espaciado-leve) 0;
            }

                .menu-link {
                    color: inherit;
                    text-decoration: none;
                    cursor: pointer;
                }
                .menu-link:hover {
                    text-decoration: underline;
                }

                    .menu-link img {
                        width: 40px;
                        border-radius: 50%;
                        margin-right: var(--espaciado-leve);
                        vertical-align: middle;
                    }