/* ----------------------------- *\
        SECCION MODAL
\* ----------------------------- */

#modal.activo {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: grid;
    align-content: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.2);
    animation: fade-in 500ms;
}
#modal.inactivo {
    animation: fade-out 500ms;
}

    #modal-container {
        max-width: 550px;
        background-color: white;

        margin: var(--espaciado-leve);
        padding: 0 var(--espaciado-normal);
        border-radius: var(--espaciado-muy-leve);
    }
    .activo #modal-container {
        animation: modal-in 500ms;
    }
    .inactivo #modal-container {
        animation: modal-out 500ms;
    }

        .modal-titulo {
            font-size: 1.6em;
            text-align: center;
        }

        .modal-contenido {
            display: flex;
            align-items: center;
            
            padding: var(--espaciado-alto) 0;
            border-bottom: 1px solid var(--color-gray);
            border-top: 1px solid var(--color-gray)
        }
            .modal-contenido img {
                width: calc(var(--espaciado-muy-alto)*4);
                object-fit: contain;
            }
            
            .modal-contenido p {
                font-weight: 500;
                max-height: calc(var(--espaciado-muy-alto)*6);
                overflow: auto;

                margin: 0;
                padding: 1px;
                margin-left: var(--espaciado-normal)
            }

        .modal-button {
            display: block;
            padding: .5em 2em;
            margin: var(--espaciado-normal) auto;
            border-radius: var(--espaciado-muy-leve);

            color: var(--color-white);
            background-color: var(--color-gray);

            outline: none;
            cursor: pointer;
            transition: 100ms;
        }
        .modal-button:active {
            transform: scale(0.95);
        }
        .modal-button:hover {
            background-color: #5a6268;
        }